.breadcrumb > .active:before {
    /*color: #ccc;*/
    content: "/ ";
    padding: 0 5px;
}
.modal-backdrop.in { display: none; }

.overdraft { 
    min-height: .1%;
    max-height: 600px;
    overflow: auto;
}
.input-file {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}
.input-label {
    font-size: 24px;
    color: #AAAAAA;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
img.picture {
    max-width: 50px;
    max-height: 50px;
}
.progress-border {
    position: relative;
    width: 100%;
    border: 2px solid #3ac540;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    min-width: 250px;
    margin: 10px 1px;
}
.progress-bar {
    background-color: #3ac540;
    color: white;
}
.progress-title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    font-size: 18px;
    color: white;
}
.btn-file{
    height: 41px;
}
.btn-file > div{    
    margin: 0px !important;
}
.btn-file > div >label{    
    line-height: 0px !important;
    margin: 0px !important;
    padding: 0px;
    text-align: center;
    font-size: 12px !important;
    color: white !important;
}
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
}
.loader div{
    font-size: 100px;
    color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
}
.modal-content .modal-footer{
    padding: 15px;
}
ul.dropdown-menu{
    max-height: 350px;
    overflow-y: auto;
}
.dropdown-menu > li > a{
    color: #333 !important;
}
table.table-minheight td{
    padding: 0px !important;
}

.box{text-align: center;} 
.box a,.box span{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
tr td div.box-title span{
    color: #252525;
    font-size: 14px;
}
tr td div.box-default{background: #999;}
tr td div.box-success{background: #3ac540; cursor: pointer;}
tr td div.box-danger{background: #ff1100; cursor: pointer;}
tr td div.box-warning{background: #ff9800;}

tr td div.box-title{background: #fff;}
tr:nth-of-type(odd) td div.box-default{background: #777;}
tr:nth-of-type(odd) td div.box-success{background: #4caf50;}
tr:nth-of-type(odd) td div.box-danger{background: #f44336;}
tr:nth-of-type(odd) td div.box-warning{background: #ff9800;}

.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active{
    color: #FFFFFF !important;   
}
.grid-view{
    /*max-height: 600px;*/
    overflow: auto;
}
.center-block{
    text-align: center;
}
.radio, .checkbox{
    margin-right: 10px;
}
span.block-error{
    color: red;
}
.icons-shiny,.icons-disc,.icons-oil,.icons-battery,.icons-shipi {
    position: relative;
    color: transparent;
    background-size: 24px 24px;
    /* padding: 10px 5px; */
    width: 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    /* white-space: nowrap; */
    /* word-wrap: normal; */
    /* direction: ltr; */
    -webkit-font-feature-settings: 'liga';
}
.icons-shiny{background-image: url(/img/shina.png);}
.icons-disc{background-image: url(/img/disc.png);}
.icons-oil{background-image: url(/img/Oil.png);}
.icons-battery {background-image: url(/img/battery.png);}
.icons-shipi{background-image: url(/img/shipi.png);}
.card img {
    width: 100%;
    height: 130px;
    object-fit: contain;
}
.font-yellow{color:#e8e800;}
.font-light-blue{color: #87b7ff;}
.inline{display: inline;}
.card-avatar, .card-testimonial .card-avatar {
    background: white;
    z-index: 999;
}
.card-title{overflow: hidden;height: 27px;}
.striped{
    border-bottom: 1px solid #c9c9c9;
}
.striped:nth-of-type(odd) {
    background: #f3f3f3;
}
.input-group-btn-vertical{
    position: relative;
    white-space: nowrap;
    width: 1%;
    max-width: 20px;
    vertical-align: middle;
    display: table-cell;
}
.bootstrap-touchspin{
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 3px;
    padding: 0px 5px;
    margin-left: 1px;
    position: relative;
}
.title-black{
    font-weight: bold;
    color: #414141;
    font-size: 1.2em;
}
.pagination > .active > a {
    background-color: #9c27b0;
    border-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}
#pagination {
  text-align: center;
}
.card-header-group{
    position: relative;
}
.card-header-group > h4{
    height: 44px;
    padding: 12px 12px;
}
.card-header-group > button{
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0px;
}
.filter > tbody > tr > td{padding: 0px;}
@media (min-width: 992px){
.myCart{max-width: 24.5%;margin-top: 50px;}
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}
@media (min-width: 768px){
    .site-login{
        width: 400px;
        height: auto;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto; 
    }
    .form-group{margin: 5px 0 0 0;}
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}

.selectable .bussy span.ui-selected{
  background: none;
  color:#555555;  
}
.selected-friends {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}
#feedback {
  font-size: 1.4em;
}
.selectable .ui-selecting {
  background: #FECA40;
}
.selectable li.bussy.ui-selecting{
  background: #777; 
  color: white; 
}
.selectable .success{
  background-color: #f39797;
  color: white;
}
.selectable .warning{
  background-color: #f3e269;
  color: white;
}
.selectable .ui-selected {
  background: #00bcd4;
  color: white;
}
.selectable li.bussy.ui-selected,.selectable li.bussy{
  background-color: rgba(200, 200, 200, 0.2);
  color:#fff;  
}
.selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.selectable li span,.selectable span:hover{background: none !important}
.selectable li:hover{background-color: rgba(200, 200, 200, 0.4)}
.selectable li.ui-selected:hover,.selectable li.ui-selected span:hover{background: #00d2ec}
.selectable li.bussy:hover,.selectable li.bussy span:hover{ background-color: rgba(200, 200, 200, 0.2); }
.selectable .success:hover{background: #00d2ec;}
.selectable li {
  width: auto;
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #cfe8ca;   
  /*text-align: center;*/
  color:#555555;  
  cursor: pointer; 
  height: 33px; 
  overflow: hidden;
}
th.selectable{
  /*font-size: 1.1em;*/
  font-weight: bold !important;
  text-align: center;
}
.selectable li .material-icons{    
    font-size: 12px;
    font-weight: bold;
}
.selectable li.datetime{
   background-color: white;    
}
.logList {
  float: right;
  min-height: 200px;
  padding: 5px 15px;
  border: 5px solid #000;
  border-radius: 15px;
}
.logList:before {
  content: 'log';
  padding: 0 5px;
  position: relative;
  top: -1.1em;
  background-color: #FFF;
}
.grid-view ul.pagination{
  position: absolute;
  bottom: -65px;  
}