﻿.striped{position: relative;margin-bottom: 10px;}
.striped:nth-of-type(odd) {
    background: #f3f3f3;
}
.cardTitle {
  height: 20px;
  overflow: hidden;
}
.filter_more{
  display: none;
}
.action.changeseason {
  display: none;
}
.changeseason {
  display: none;
}
#changetypeTC label{
  /*width: 100%;*/
  box-sizing: border-box;
}
#changespeed label{
  width: 30%;
  box-sizing: border-box;
}
#changeloads label{
  width: 30%;
  box-sizing: border-box;
}
.font-theme{
  color:#ea2415;
}
.top{
  margin-top: 20px;
}
.reset{cursor: pointer;}
.card-panel{
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
}
.card-panel table{width: 100%;}
.card-panel table td{
  height: 35px;
  padding-right:10px;
}
.qty-res,.qty-total{
  position: relative;
  padding-left: 40px;
  width: 100px;
}
.qty-res:before,.qty-total:before{
  position: absolute;
  top: 7px;
  left: 0px;
  content: "";
}
.qty-res:before{content: "Цена"}
.qty-total:before{content: "Итого"}
.psevdolink {
  color: #31708f;
  border-bottom: 1px dashed #31708f;
  cursor: pointer;
}
/*
 * CARDS
 */
.box-product-card{
  padding-left: 10px;
  padding-right: 10px;
}
.box-product{
  /*position: relative; 
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px; 
  border-radius: 10px;
  display: inline-block;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;*/
}
.box-product:hover{
  /*-webkit-box-shadow: 0 0 15px -2px rgba(0,0,0,.7);
  box-shadow: 0 0 15px -2px rgba(0,0,0,.7);*/
}
.box-product-card-header{
  background: #fefcea; /* Для старых браузров */
  background: linear-gradient(to top, #f0f0f0, #d1d1d1);
  padding-left:10px;
  padding-right:10px; 
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  height: 35px;
  line-height: 35px;
}
.basketForm .ng-valid{
/*Правильная форма*/
  border-color: green;
}
.basketForm .ng-invalid{
/*Плохая форма*/
  border-color: red;  
}
.black{
  color: #666666 !important;
  font-size: 17px;
}
.season-icon{
  display: inline-block;
}
.season-icon img{
  margin-right: 5px;
}
.icon{
  width: 20px !important;
  float: left;
}
 /*
 * END CARDS
 */
@media (min-width: 768px) {
  .radio label{
    margin-right:5px; 
  }
  .labelchange{margin-left: 30px;}  
  .thrumb{
    width: 150px; 
    margin-top:10px; 
    margin-bottom:10px; 
  }
  .img-basket{
    width: 100px;
    height: 100px;
    background: #ffffff;
    object-fit: contain;
  }
  .vertical{
    height: 80px;
    padding-top: 40px;
    box-sizing: border-box;
  }
  .verticalinput{
    margin-top: 32px; 
  }
}
@media (max-width: 768px) {
  .radio label{
    width:100%; 
  }
  .labelchange{margin-left: 20px;}  
  .thrumb{
    width: 100%;
    padding-right: 0px !important;
    margin-top:10px;    
    margin-bottom:10px;  
  }
  .vertical{
    box-sizing: border-box;
    padding: 10px 5px 10px 5px;    
    font-size: 1em;
  }
  .basket-title,.basket-price,.basket-summ,.basket-remove{
    width: 100%;
    text-align: right;
  }
  .basket-title:before,.basket-price:before,.basket-summ:before{
    position: absolute;
    left: 20px;
  }
  .basket-title:before{content: "Наименование";}
  .basket-price:before{content: "Цена";}
  .basket-summ:before{content: "Сумма";}
}
