.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

.w-100 {
  width: 100% !important;
}

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.m-a-0 {
  margin: 0 0 !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-a-1 {
  margin: 1rem 1rem !important;
}

.m-t-1 {
  margin-top: 1rem !important;
}

.m-r-1 {
  margin-right: 1rem !important;
}

.m-b-1 {
  margin-bottom: 1rem !important;
}

.m-l-1 {
  margin-left: 1rem !important;
}

.m-x-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-a-2 {
  margin: 1.5rem 1.5rem !important;
}

.m-t-2 {
  margin-top: 1.5rem !important;
}

.m-r-2 {
  margin-right: 1.5rem !important;
}

.m-b-2 {
  margin-bottom: 1.5rem !important;
}

.m-l-2 {
  margin-left: 1.5rem !important;
}

.m-x-2 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.m-y-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-a-3 {
  margin: 3rem 3rem !important;
}

.m-t-3 {
  margin-top: 3rem !important;
}

.m-r-3 {
  margin-right: 3rem !important;
}

.m-b-3 {
  margin-bottom: 3rem !important;
}

.m-l-3 {
  margin-left: 3rem !important;
}

.m-x-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-a-0 {
  padding: 0 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-b-0 {
  padding-bottom: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-a-1 {
  padding: 1rem 1rem !important;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.p-r-1 {
  padding-right: 1rem !important;
}

.p-b-1 {
  padding-bottom: 1rem !important;
}

.p-l-1 {
  padding-left: 1rem !important;
}

.p-x-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.p-y-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-a-2 {
  padding: 1.5rem 1.5rem !important;
}

.p-t-2 {
  padding-top: 1.5rem !important;
}

.p-r-2 {
  padding-right: 1.5rem !important;
}

.p-b-2 {
  padding-bottom: 1.5rem !important;
}

.p-l-2 {
  padding-left: 1.5rem !important;
}

.p-x-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.p-y-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-a-3 {
  padding: 3rem 3rem !important;
}

.p-t-3 {
  padding-top: 3rem !important;
}

.p-r-3 {
  padding-right: 3rem !important;
}

.p-b-3 {
  padding-bottom: 3rem !important;
}

.p-l-3 {
  padding-left: 3rem !important;
}

.p-x-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Thin/RobotoDraft-Thin.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Thin/RobotoDraft-Thin.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Thin/RobotoDraft-Thin.ttf?v=1.0.0) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Light/RobotoDraft-Light.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Light/RobotoDraft-Light.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Light/RobotoDraft-Light.ttf?v=1.0.0) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.ttf?v=1.0.0) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.ttf?v=1.0.0) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.ttf?v=1.0.0) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.ttf?v=1.0.0) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Medium/RobotoDraft-Medium.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Medium/RobotoDraft-Medium.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Medium/RobotoDraft-Medium.ttf?v=1.0.0) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.ttf?v=1.0.0) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.ttf?v=1.0.0) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: RobotoDraft;
  src: url(../fonts/robotodraft/Black/RobotoDraft-Black.woff2?v=1.0.0) format("woff2"), url(../fonts/robotodraft/Black/RobotoDraft-Black.woff?v=1.0.0) format("woff"), url(../fonts/robotodraft/Black/RobotoDraft-Black.ttf?v=1.0.0) format("truetype");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "RobotoDraft", "Roboto", sans-serif;
}

body,
a,
.btn-default {
  color: #666;
}

.btn {
  border-radius: 0;
}

.dropdown-menu {
  border-radius: 0;
  border-color: #ccc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.dropdown-menu > li > a {
  color: #666;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #eee;
}

.form-control {
  border-radius: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}
input[type=checkbox] + span::before,
input[type=radio] + span::before {
  font-family: 'fontAwesome';
  font-size: 12px;
  line-height: 14px;
  position: relative;
  top: -1px;
  display: inline-block;
  width: 16px;
  margin-right: 2px;
  margin-left: -20px;
  content: '\a0';
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
}
input[type=checkbox]:checked + span::before,
input[type=radio]:checked + span::before {
  content: '\f00c';
  color: #666;
}

input[type=radio] {
  display: none;
}
input[type=radio] + span::before {
  font-size: 9px;
  margin-right: 4px;
  border-radius: 100%;
}
input[type=radio]:checked + span::before {
  content: '\f111';
  color: #666;
}

.title {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0;
}
.title > span {
  display: inline-block;
  margin-bottom: -3px;
  padding-bottom: 10px;
  color: #666;
}
.title > span > a {
  color: #666;
}

.label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  display: inline-block;
  height: 20px;
  border-radius: 0;
}

.label.arrowed {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 20px;
  margin-left: 5px;
}
.label.arrowed:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -10px;
  display: inline-block;
  content: '';
  border: 1px solid transparent;
  border-width: 10px 5px;
}

.label.arrowed-right {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
}
.label.arrowed-right:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -10px;
  display: inline-block;
  content: '';
  border: 1px solid transparent;
  border-width: 10px 5px;
}

.label-default.arrowed:before {
  border-right-color: #777;
}

.label-default.arrowed-right:after {
  border-left-color: #777;
}

.label-primary.arrowed:before {
  border-right-color: #337ab7;
}

.label-primary.arrowed-right:after {
  border-left-color: #337ab7;
}

.label-success.arrowed:before {
  border-right-color: #5cb85c;
}

.label-success.arrowed-right:after {
  border-left-color: #5cb85c;
}

.label-info.arrowed:before {
  border-right-color: #5bc0de;
}

.label-info.arrowed-right:after {
  border-left-color: #5bc0de;
}

.label-warning.arrowed:before {
  border-right-color: #f0ad4e;
}

.label-warning.arrowed-right:after {
  border-left-color: #f0ad4e;
}

.label-danger.arrowed:before {
  border-right-color: #d9534f;
}

.label-danger.arrowed-right:after {
  border-left-color: #d9534f;
}

.tooltip-inner {
  border-radius: 0;
}

.bootstrap-select .dropdown-toggle {
  border-radius: 0;
}
.bootstrap-select .dropdown-toggle:active, .bootstrap-select .dropdown-toggle:hover, .bootstrap-select .dropdown-toggle:focus {
  border-color: #ccc;
  outline: 0 !important;
  background-color: #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu li a:focus {
  outline: 0;
}

.bootstrap-select.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #eee;
}
.bootstrap-select.open .dropdown-toggle:hover {
  background-color: #eee;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
  border-top-right-radius: 0;
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  border-bottom-right-radius: 0;
}

.img-thumbnail {
  border-radius: 0;
}

.panel-group .panel {
  border-radius: 0;
}

.list-group-nav .list-group-item {
  padding-left: 10px;
  border: 0;
  border-bottom: 1px dotted #ccc;
  background: transparent;
}

.alert {
  border-radius: 0;
}

.nav-pills > li > a {
  border-radius: 0;
}

.top-header ul.list-inline {
  margin-bottom: 0;
}
.top-header ul.list-inline > li {
  float: left;
  margin: 0;
  padding: 0;
}
.top-header ul.list-inline > li .dropdown-toggle {
  border-radius: 0;
  background-color: transparent;
}
.top-header ul.list-inline > li .dropdown-toggle:focus {
  outline: none !important;
}
.top-header ul.list-inline > li > a,
.top-header ul.list-inline > li .dropdown-toggle {
  display: block;
  padding: 5px 7px;
}
.top-header ul.list-inline > li > a:hover, .top-header ul.list-inline > li > a:active,
.top-header ul.list-inline > li .dropdown-toggle:hover,
.top-header ul.list-inline > li .dropdown-toggle:active {
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.top-header ul.list-inline > li .dropdown.open > .dropdown-toggle,
.top-header ul.list-inline > li .bootstrap-select.open > .dropdown-toggle {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.top-header ul.list-inline > li .dropdown-toggle img,
.top-header ul.list-inline > li .dropdown-menu img {
  margin-bottom: 2px;
}
.top-header ul.list-inline > li .dropdown-menu-login {
  line-height: 1.4;
  min-width: 230px;
  padding: 10px;
}
.top-header ul.list-inline > li .dropdown-menu-login button {
  border-radius: 0;
}

.middle-header {
  background-color: #f9f9f9;
}
.middle-header > .container > .row {
  padding: 15px 0;
}
.middle-header .search-box input[type="text"]:focus {
  z-index: 4;
}
.middle-header .search-box .bootstrap-select {
  z-index: 3;
}
.middle-header .search-box .bootstrap-select > .dropdown-toggle,
.middle-header .search-box .bootstrap-select > .dropdown-menu {
  margin-left: -1px;
}
.middle-header .btn-search {
  z-index: 3 !important;
}
.middle-header .cart-btn > button {
  float: right;
  color: #8c8c8c;
  border-color: #d7d7d7;
  border-radius: 0;
  background-color: #f3f3f3;
}
.middle-header .cart-btn > button:hover {
  color: #666;
  background-color: #f6f6f6;
}
.middle-header .cart-btn > button:active {
  outline: 0;
  background-color: #f3f3f3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.middle-header .cart-btn > .dropdown-menu {
  right: 15px;
  overflow-y: auto;
  max-height: 400px;
  padding: 10px;
}
.middle-header .cart-btn .media {
  margin-top: 10px;
}
.middle-header .cart-btn .media:first-child {
  margin-top: 0;
}
.middle-header .cart-btn .media-body a {
  font-size: 13px;
  display: block;
  margin-bottom: 0;
}
.middle-header .cart-btn .media-right a {
  color: #aaa;
}
.middle-header .cart-btn .media-right a:hover {
  color: #ef5350;
}
.middle-header .cart-btn .media-body div,
.middle-header .cart-btn .subtotal-cart span {
  font-size: 13px;
  color: #ef5350;
}
.middle-header .cart-btn .subtotal-cart {
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.middle-header .cart-btn.open > button {
  color: #666 !important;
  background-color: #e7e7e7 !important;
}

.navbar {
  min-height: inherit;
  border: 0;
  background-color: #f3f3f3;
}
.navbar .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 15px;
  padding: 5px 7px;
  border-radius: 0;
  background-color: #f3f3f3;
}
.navbar .btn-cart-xs {
  font-size: 13px;
  margin-top: 3px;
  margin-right: 15px;
  padding: 8px 25px;
  color: #666;
  background-color: #f3f3f3;
}

.shadow-navbar {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
}

.owl-theme .owl-controls {
  position: absolute;
  top: 1px;
  right: 1px;
  margin-top: 0;
}
.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  font-size: 18px;
  line-height: 1;
  margin: 0;
  padding: 0 5px;
  opacity: .5;
  border-radius: 0;
}
.owl-theme .owl-controls .owl-nav .owl-prev {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.owl-theme .owl-controls .owl-nav .owl-next {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.owl-theme.owl-controls-top-offset .owl-controls {
  right: 0;
  margin-top: -35px;
}

.box-product-outer {
  margin-bottom: 5px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 0;
  /* &:hover {
    @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
  } */
}

.box-product .img-wrapper {
  position: relative;
  overflow: hidden;
}
.box-product .img-wrapper > :first-child {
  position: relative;
  display: block;
}
.box-product .img-wrapper > a > img {
  width: 100%;
}
.box-product .img-wrapper .tags {
  position: absolute;
  top: 0;
  right: 0;
  display: table;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: inherit;
  border-width: 0;
  background-color: transparent;
  direction: rtl;
}
.box-product .img-wrapper .tags > .label-tags {
  display: table;
  margin: 0 -1px 1px 0;
  text-align: left;
  opacity: .80;
  filter: alpha(opacity=80);
  direction: ltr;
}
.box-product .img-wrapper .tags > .label-tags:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.box-product .img-wrapper .tags > .label-tags a:hover {
  text-decoration: none;
}
.box-product .img-wrapper .tags-left {
  left: 0;
  direction: ltr;
}
.box-product .img-wrapper > .option {
  position: absolute;
  top: auto;
  right: 0;
  bottom: -30px;
  left: 0;
  width: auto;
  height: 28px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.box-product .img-wrapper > .option > a {
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
  padding: 0 4px;
  color: #fff;
}
.box-product .img-wrapper > .option > a:hover {
  color: #9E9E9E;
}
.box-product .img-wrapper > .option > a.wishlist:hover {
  color: #ef5350;
}
.box-product h6 a {
  font-size: 13px;
  line-height: 1.4;
  display: block;
}
.box-product:hover .img-wrapper > .option {
  bottom: 0;
}

.price {
  margin-bottom: 5px;
  color: #ef5350;
}

.price-old {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  color: #666;
}
.price-old:before {
  position: absolute;
  width: 100%;
  height: 60%;
  content: '';
  border-bottom: 1px solid #666;
}

.rating i {
  color: #ffc107;
}

.brand-slider {
  margin-bottom: 15px;
}
.brand-slider .brand {
  padding: 15px 0;
  border: 1px solid #e5e5e5;
  border-radius: 0;
}
.brand-slider .brand img {
  width: inherit;
  margin: 0 auto;
}

.footer {
  font-size: 13px;
  margin-top: 15px;
  color: #bababa;
  background-color: #373939;
}
.footer ul {
  line-height: 1.7;
  padding: 0;
  list-style: none;
}
.footer ul li a {
  color: #bababa;
}
.footer .copyright {
  padding: 10px;
  color: #bababa;
  background-color: #202222;
}
.footer .footer-icon span i {
  line-height: 2;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #a3a3a3;
  border-radius: 100%;
}
.footer .follow-us {
  display: inline-block;
}
.footer .follow-us li {
  float: left;
}
.footer .follow-us li a {
  font-size: 20px;
  line-height: 2;
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px 10px 0 0;
  text-align: center;
  border: 1px solid #a3a3a3;
  border-radius: 100%;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.footer .subscribe-button {
  font-size: 13px;
  height: 32px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.footer input[type="text"] {
  height: 32px;
  border-color: transparent;
}
.footer input[type="text"]:focus {
  z-index: 2;
  border-color: transparent;
}

.title-footer {
  font-size: 18px;
  line-height: 1;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #bababa;
}
.title-footer > span {
  display: inline-block;
  color: #bababa;
}

.back-top {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
  display: none;
  width: 30px;
  height: 23px;
  color: #fff;
  background-color: #202222;
}
.back-top:hover, .back-top:focus, .back-top:active {
  color: #fff;
}
.back-top:hover {
  background-color: #373939;
  -webkit-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
}

.filter-sidebar {
  margin-bottom: 25px;
}
.filter-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-sidebar ul li {
  position: relative;
  margin-bottom: 3px;
}
.filter-sidebar ul li a.remove-filter {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
}
.filter-sidebar .price-range {
  overflow: hidden;
  margin-top: 5px;
  padding: 3px 0;
}

.noUi-target {
  height: 11px;
  border: 0;
  border-radius: 0;
  background-color: #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.noUi-target .noUi-background {
  background-color: #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.noUi-target .noUi-origin {
  border-radius: 0;
}
.noUi-target .noUi-origin .noUi-handle {
  top: -3px;
  left: -9px;
  width: 17px;
  height: 17px;
  cursor: default;
  border: 0;
  border-radius: 0;
  background-color: #797979;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.noUi-target .noUi-origin .noUi-handle:before, .noUi-target .noUi-origin .noUi-handle:after {
  content: none;
}
.noUi-target .noUi-connect {
  background-color: #a2a2a2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-sorting-bar {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 0;
}
.product-sorting-bar > div {
  float: left;
  padding: 10px;
}

.pagination > li > a,
.pagination > li > span {
  color: #666;
  border-bottom: 2px solid #d6d8d9;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pager > li > a,
.pager > li > span {
  color: #666;
  border-bottom: 2px solid #d6d8d9;
  border-radius: 0;
}

.input-qty {
  width: 150px;
}

.table-cart .img-cart {
  width: 77px;
}
.table-cart .img-cart img {
  width: 50px;
}
.table-cart small {
  display: block;
}
.table-cart .unit,
.table-cart .sub,
.table-cart .action {
  width: 100px;
}

.bootstrap-touchspin .bootstrap-touchspin-prefix {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.testimonial {
  font-size: 14.5px;
}

.table-compare {
  text-align: center;
}
.table-compare tbody tr td:first-child,
.table-compare .compare-product {
  background-color: #f8f8f8;
}
.table-compare tbody tr td:first-child {
  text-align: left;
}

.image-detail {
  margin-bottom: 10px;
}
.image-detail img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0;
}

.title-detail {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 20px;
}

.table-detail tr td {
  vertical-align: middle !important;
}
.table-detail tr td:first-child {
  width: 150px;
}
.table-detail tr td:first-child::after {
  float: right;
  content: ':';
}
.table-detail tr:last-child td:first-child::after {
  content: '';
}

.nav-tabs > li > a {
  border-radius: 0 0 0 0;
}
.nav-tabs > li > a:focus, .nav-tabs > li > a:active {
  outline: 0;
}

.tab-content-detail table tr td:first-child {
  background: #f8f8f8;
}
.tab-content-detail .well {
  border-top: 0;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-rating {
  font-size: 13px;
  margin-top: 5px;
  text-align: center;
  color: #fc0;
}

.input-rating {
  font-size: 24px;
  display: inline-block;
  color: #fc0;
}
.input-rating i {
  width: 20px;
}

.blog-list {
  border-radius: 0;
}
.blog-list .caption {
  color: #666;
}
.blog-list .caption h4 {
  font-weight: normal;
}
.blog-list img {
  width: 100%;
}

.blog-list small, .blog-detail-content small {
  display: block;
  margin-bottom: 5px;
}
.blog-list small span, .blog-detail-content small span {
  margin-right: 7px;
}
.blog-list small a,
.blog-list small span, .blog-detail-content small a,
.blog-detail-content small span {
  color: #a6a6a6;
}

.blog-detail-content {
  margin-bottom: 30px;
}
.blog-detail-content .img-thumbnail {
  width: 100%;
  margin-bottom: 15px;
}

.share-button button {
  width: 40px;
}

.fuelux .wizard {
  border-radius: 0;
}

.fuelux .bootstrap-select.btn-group .dropdown-menu li {
  display: block !important;
}

.step-pane {
  padding-top: 15px;
}

.account-picture {
  padding: 0 50px;
}
.account-picture img {
  margin: 0 auto;
}

.mega-menu {
  position: static !important;
}
.mega-menu .dropdown-menu {
  width: 100%;
}
.mega-menu .mega-menu-content {
  padding: 20px 30px 5px;
}
.mega-menu .list-unstyled {
  margin-bottom: 15px;
}
.mega-menu .list-unstyled a {
  display: block;
  padding: 3px 20px 3px 10px;
}
.mega-menu .list-unstyled a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #eee;
}
.mega-menu .list-unstyled a::before {
  font-family: 'fontAwesome';
  margin-right: 5px;
  content: '\f105';
}

.btn-theme {
  color: #fff;
  background-color: #3f51b5;
  border-color: #3949ab;
}
.btn-theme:focus, .btn-theme.focus {
  color: #fff;
  background-color: #32408f;
  border-color: #19204b;
}
.btn-theme:hover {
  color: #fff;
  background-color: #32408f;
  border-color: #2a357d;
}
.btn-theme:active, .btn-theme.active, .open > .btn-theme.dropdown-toggle {
  color: #fff;
  background-color: #32408f;
  border-color: #2a357d;
}
.btn-theme:active:hover, .btn-theme:active:focus, .btn-theme:active.focus, .btn-theme.active:hover, .btn-theme.active:focus, .btn-theme.active.focus, .open > .btn-theme.dropdown-toggle:hover, .open > .btn-theme.dropdown-toggle:focus, .open > .btn-theme.dropdown-toggle.focus {
  color: #fff;
  background-color: #293475;
  border-color: #19204b;
}
.btn-theme:active, .btn-theme.active, .open > .btn-theme.dropdown-toggle {
  background-image: none;
}
.btn-theme.disabled:hover, .btn-theme.disabled:focus, .btn-theme.disabled.focus, .btn-theme[disabled]:hover, .btn-theme[disabled]:focus, .btn-theme[disabled].focus, fieldset[disabled] .btn-theme:hover, fieldset[disabled] .btn-theme:focus, fieldset[disabled] .btn-theme.focus {
  background-color: #3f51b5;
  border-color: #3949ab;
}
.btn-theme .badge {
  color: #3f51b5;
  background-color: #fff;
}

.form-control:focus {
  border-color: #3f51b5;
}

input[type=checkbox]:checked + span::before,
input[type=radio]:checked + span::before {
  color: #3f51b5;
}

.title {
  border-bottom: 3px solid #9fa8da;
}
.title span {
  border-bottom: 3px solid #3949ab;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select.open .dropdown-toggle,
.bootstrap-select.open .dropdown-toggle:hover {
  border-color: #3f51b5;
}

.img-thumbnail:hover {
  border-color: #3f51b5;
}

.top-header {
  background-color: #3f51b5;
}
.top-header ul.list-inline > li > a,
.top-header ul.list-inline > li .dropdown-toggle {
  color: #fff;
  border-color: #3f51b5;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.top-header ul.list-inline > li > a:hover, .top-header ul.list-inline > li > a:active,
.top-header ul.list-inline > li .dropdown-toggle:hover,
.top-header ul.list-inline > li .dropdown-toggle:active {
  border-color: #3949ab;
  background-color: #3949ab;
}
.top-header ul.list-inline > li .dropdown.open > .dropdown-toggle,
.top-header ul.list-inline > li .bootstrap-select.open > .dropdown-toggle {
  color: #efefef;
  border-color: #303f9f;
  background-color: #303f9f;
}

.middle-header .btn-search {
  color: #fff;
  border-color: transparent;
  background-color: #3f51b5;
}
.middle-header .btn-search:active, .middle-header .btn-search:focus {
  color: #fff;
  border-color: transparent;
  outline: 0;
  background-color: #303f9f;
}
.middle-header .cart-btn > button:hover {
  border-color: #3f51b5;
}
.middle-header .cart-btn.open > button {
  border-color: #3f51b5 !important;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
  color: #fff !important;
  background-color: #3f51b5;
}
.navbar .navbar-toggle:active, .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover,
.navbar .btn-cart-xs:active,
.navbar .btn-cart-xs:focus,
.navbar .btn-cart-xs:hover {
  border-color: #3f51b5;
}

.box-product-outer:hover {
  border: 1px solid #3f51b5;
}

.brand-slider .brand:hover {
  border-color: #3f51b5;
}

.footer ul li a:hover {
  color: #5c6bc0;
}
.footer .subscribe-button {
  color: #fff;
  border-color: #fff;
  background-color: #3f51b5;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.footer .subscribe-button:active, .footer .subscribe-button:focus {
  color: #fff;
  border-color: #fff;
  outline: 0;
  background-color: #303f9f;
}

.follow-us li a:hover {
  color: #fff !important;
  border: 1px solid #fff;
  background-color: #3f51b5;
}

.filter-sidebar ul li a.remove-filter:hover {
  color: #3f51b5;
}

.noUi-target .noUi-connect {
  background-color: #3f51b5;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  border-color: #3f51b5;
  background-color: #3f51b5;
}

.blog-list:hover {
  border-color: #3f51b5;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #3f51b5;
}

@media (max-width: 992px) {
  .logo {
    text-align: center;
  }
  .logo img {
    display: inherit;
  }
}
@media (min-width: 768px) {
  .middle-header .btn-search {
    margin-left: -2px !important;
  }

  .navbar .navbar-collapse {
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-submenu > a:after {
    display: block;
    font-family: 'fontAwesome';
    content: "\f0da";
    float: right;
    margin-right: -10px;
  }

  .chooser {
    position: fixed;
    z-index: 999;
    top: 100px;
    right: 0;
    -webkit-transition: all 100ms ease-in-out 0s;
    -o-transition: all 100ms ease-in-out 0s;
    transition: all 100ms ease-in-out 0s;
  }

  .chooser-hide {
    right: -120px;
  }

  .chooser-toggle {
    position: absolute;
    top: 0;
    left: -38px;
    width: 20px;
    height: 20px;
  }
  .chooser-toggle button:hover,
  .chooser-toggle button:focus,
  .chooser-toggle button:active {
    border-color: #eea236;
    outline: 0 !important;
  }

  .chooser-content {
    width: 120px;
    padding: 10px;
    border: 3px solid #eea236;
    background: #fff;
  }
  .chooser-content select {
    height: 30px;
  }
}
@media (max-width: 768px) {
  .dropdown-submenu > .dropdown-menu {
    padding-left: 15px;
  }
  .dropdown-submenu > a:after {
    display: inline-block;
    font-family: 'fontAwesome';
    content: "\f0d7";
    margin-left: 10px;
  }

  .input-qty .bootstrap-touchspin {
    width: 115px;
  }

  .table-compare > tbody > tr > td {
    white-space: inherit !important;
  }

  .chooser {
    display: none;
  }
}
@media (max-width: 480px) {
  .box-product-outer {
    padding: 0 !important;
  }
  .box-product-outer:hover {
    border-color: transparent;
  }

  .box-product .img-wrapper > .option {
    bottom: 0;
  }
}
